<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avaliação de Serviço - HomeCare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='avaliacao.css') }}">
</head>
<body>
    <header>
        <div class="container" id="branding">
            <h1>Home Care</h1>
        </div>
    </header>
    <div class="container">
        <section id="avaliacao">
            <h2>Avalie o Serviço</h2>
            <form action="#" method="post"> <!-- Substitua "#" pelo caminho de tratamento do formulário -->
                <label for="nota">Avaliação:</label>
                <div class="rating">
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
                    <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
                </div>
                <label for="comentario">Comentário:</label>
                <textarea id="comentario" name="comentario" rows="4" required></textarea>
                <input type="submit" value="Enviar Avaliação">
            </form>
        </section>
    </div>
</body>
</html>
